body {
	margin: 0px;
	background-color: #ffffff;
	font-family: sans-serif;
	margin-top: 97px;
	color: #4056A1;
}

#header {
	width: 100%;
	position: fixed;
	text-align: center;
	top: 0px;
	left: 0px;
	margin:0px auto;
	color: #ffffff;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	word-spacing: 10px;
	letter-spacing: 2px;
	text-shadow: 3px 3px #00887A;
	background: #77A6F7;
}

#footer {
	height: 40px;
	bottom: 0px;
	left: 0px;
	background: #77A6F7;
	width: 100%;
	text-align: center;
	color: #ffffff;
	position: fixed;
	align-items: center;
	justify-content: center;
}

#left1 {
	width: 50%;
	float: left;
	color: #000000;
	background: #ffffff;
	margin: 30px;
	margin-left: 50px;
	margin-top: 75px;
	margin-bottom: 3px;
	border-radius: 10px;
}

#left2 {
	width: 50%;
	float: left;
	color: #000000;
	margin: 30px;
	margin-left: 50px;
	margin-top: 3px;
	margin-bottom: 5px;
	border-radius: 10px;
}

#heading-two {
	word-spacing: 3px;
	text-align: center;
	color: #00887A;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
		AppleGothic, sans-serif;
	letter-spacing: 1px;
}

.button {
	background-color: #00887A;
	border: none;
	width: 100%;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	margin-left: -1px;
	margin-right: -1px;
}

.button: hover {
    background-color: #FFCCBC;
}

.col75{
	float: left;
    width: 75%;
    margin-top: 6px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=submit] {
    background-color: #00887A;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin: 7px;
}

input[type=submit]:hover {
    background-color: #FFCCBC;
}

table {
	width: 101%;
	border-collapse: collapse;
	cellspacing: 0px;
	padding: 0px;
	position: fixed;
}

th, td {
	horizontal-align: center;
	height: 50px;
	border-collapse: collapse;
	cellspacing: 0px;
	vertical-align: center;
	padding: 0px;
	width: 20%;
	
}