<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<web-app>
  <display-name>HospitalManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
	<servlet-name>HospitalEmployeeServlet</servlet-name>
	<servlet-class>EmployeeServlet</servlet-class>
  </servlet>
	
  <servlet-mapping>
	<servlet-name>HospitalEmployeeServlet</servlet-name>
	<url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
	<servlet-name>HospitalPatientServlet</servlet-name>
	<servlet-class>PatientServlet</servlet-class>
  </servlet>
	
  <servlet-mapping>
	<servlet-name>HospitalPatientServlet</servlet-name>
	<url-pattern>/PatientServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>HospitalOperationServlet</servlet-name>
	<servlet-class>OperationServlet</servlet-class>
  </servlet>
	
  <servlet-mapping>
	<servlet-name>HospitalOperationServlet</servlet-name>
	<url-pattern>/OperationServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
	<servlet-name>HospitalOperatingRoomServlet</servlet-name>
	<servlet-class>OperatingRoomServlet</servlet-class>
  </servlet>
	
  <servlet-mapping>
	<servlet-name>HospitalOperatingRoomServlet</servlet-name>
	<url-pattern>/OperatingRoomServlet</url-pattern>
  </servlet-mapping>
</web-app>